<div ng-include="'components/navbar/navbar.html'" class="navbar-top"></div>

<div class="col-md-3" style="margin-top: 70px; " ng-controller="CalendarLeftCtrl as clc">
    <div class="list-group">
        <h3>Debate Schedules</h3>
        <a href="#" class="list-group-item" ng-click="clc.clickedSchedule('repdebate')">
            <h4 class="list-group-item-heading">2016 Republican Debate Schedule</h4>
            <p class="list-group-item-text">The Republican National Committee released list of officially sanctioned debates</p>
        </a>
        <a href="#" class="list-group-item" ng-click="clc.clickedSchedule('demdebate')">
            <h4 class="list-group-item-heading">2016 Democratic Debate Schedule</h4>
            <p class="list-group-item-text">Up-to-date schedule of the Democratic Primary Debates of 2015/2016</p>
        </a>
    </div>
    <br>
    <div class="list-group">
        <h3>Primary Schedules</h3>
        <a href="#" class="list-group-item" ng-click="clc.clickedSchedule('iowa')">
            <h4 class="list-group-item-heading">2016 Iowa Caucus</h4>
        </a>
        <a href="#" class="list-group-item" ng-click="clc.clickedSchedule('newhampshire')">
            <h4 class="list-group-item-heading">2016 New Hampshire Primary</h4>
        </a>
        <a href="#" class="list-group-item" ng-click="clc.clickedSchedule('southcarolina')">
            <h4 class="list-group-item-heading">2016 South Carolina Primary</h4>
        </a>
        <a href="#" class="list-group-item active" ng-click="clc.clickedSchedule('nevada')">
            <h4 class="list-group-item-heading">2016 Nevada Caucus</h4>
        </a>
    </div>
</div>

<div class="col-md-6" style="margin-top: 60px; margin-left: 70px;" ng-controller="CalendarCtrl as cal">
    <h1>2016 Nevada Caucus</h1>
    <div>
        <p>Along with Iowa, New Hampshire and South Carolina, the state of Nevada has been given special consideration to hold their nominating process early in the process. Nevada caucuses started only in 2008. These are rising to significance as the "voice of the west".
        </p>
    </div>
    <div style="clear: left;"/>
    <br>
    <h3>Dates Proposed: </h3>
    <p>The Democrats and Republicans will hold their caucuses on different days in February 2016.</p>
    <div style="display:inline-block">
        <h4 style="font-weight: bold;  margin-right: 100px;">Republicans Date</h4>
        <h5 style="color: #b22234; font-weight: bold;">February 23, 2016 - Tuesday</h5>
    </div>
    <div style="display:inline-block;">
        <h4 style="font-weight: bold;">Democrats Date</h4>
        <h5 style="color: #1c4280; font-weight: bold;">February 20, 2016 - Saturday</h5>
    </div>
    <br><br>

    <h3>State Party Websites</h3>
    <div class="row">
        <div class="col-md-4">
            <a href="http://nevadagop.org/" style="color: #b22234; text-align: center; text-decoration: none;"><img style="width: 270px; margin-top: 10px; margin-bottom: 34px; height: 100px;" src="assets/images/nv_rep.png" height="200"><br><div>Republican Party of Nevada</div></a>
        </div>
        <div class="col-md-4" style="margin-left: 50px;">
            <a href="http://www.nvdems.com/" style="color: #1c4280; text-align: center; text-decoration: none;"><img style="width: 300px; margin-left: 20px; margin-top: 15px; margin-bottom: 30px;" src="assets/images/nv_dem.png" height="100"><br><div>Democratic Party of Nevada</div></a>
        </div>
    </div>
    <br>

    <h3>Historical Winners</h3>
    <p>2012: Mitt Romney (R)<br>2008: Hillary Clinton (D), Mitt Romney (R)</p>
    <br>

    <h3>What is the Nevada Caucus?</h3>
    <p>The Nevada caucuses are an electoral event in which residents of the U.S. state of Nevada meet in precinct caucuses in order to elect delegates to the corresponding county conventions. There are 17 in Nevada, and thus there are seventeen conventions. These county conventions then select delegates to Nevada’s State Convention, which then choose delegates for the presidential nominating conventions.</p>
    <p>The Nevada caucuses began in 2008, reflecting the growing importance of the West as well as Nevada’s electoral bellwether status. In 2012, the Nevada caucuses were the third major electoral event in the nominating process for President of the United States, though little attention was given to the contest. In 2016, Nevada will gain more prominence by holding its vote directly following South Carolina, with the hope of giving the West a greater voice in the process.</p>
    <p>The Nevada caucus has 3 levels: The precinct, the county convention and finally the state convention. Overall, Nevada has 34 Republican delegates and 33 Democratic delegates who will represent the precinct level voters at the respective national convention to select the nominee.</p>
</div>
