<div ng-include="'components/navbar/navbar.html'" class="navbar-top"></div>
<div class="container" style="width: 968px; margin-top: 80px;" ng-controller="StatesCtrl as stsc">
    <h1 style="color:#b22234">Electoral Votes by State</h1>
    <h5>Click on the states below to view electoral information and voting trends in the past presidential elections</h5>
    <h5>*District of Columbia (D.C.) is not a state. It is a federal district.</h5>
    <br>
    <ul class="nav nav-tabs">
        <li ng-class="{'active': stsc.thumbnailView}" ng-click="stsc.viewType(0)">
            <a href="#" data-toggle="tab" aria-expanded="true">Thumbnail View</a>
        </li>
        <li ng-class="{'active': stsc.tableView}" ng-click="stsc.viewType(1)">
            <a href="#" data-toggle="tab" aria-expanded="true">Table View</a>
        </li>
    </ul>
    <div class="tab-content">
        <br>
        <!-- Thumbnail View -->
        <div ng-if="stsc.thumbnailView">
            <div ng-repeat="st in stsc.stateList track by $index" style="display: inline-block; margin: 10px 10px;">
                <a ng-href="/state/{{st.name}}/">
                    <div class="panel panel-default" style="display: inline-block; width: 150px;">
                        <div class="panel-heading">
                            {{st.name}}&nbsp;({{st.votes}})
                        </div>
                        <div class="panel-body">
                            <img ng-src="assets/images/states/{{st.name}}.gif" height="100px" width="100px" style="margin: 0 auto;">
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <!-- Table VIew -->
        <div ng-if="stsc.tableView">
            <table class="table table-striped table-hover ">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>State</th>
                        <th>Electoral Votes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="st in stsc.stateList track by $index">
                        <td>{{$index + 1}}</td>
                        <td><a ng-href="/state/{{st.name}}/" style="text-decoration: none;">{{st.name | uppercase}}</a></td>
                        <td>{{st.votes}}</td>
                    </tr>
                </tbody>
        </div>
    </div>

</div>
<script type="text/javascript">
$(function() {
    $(document).ready(function() {
        $('html, body').css({
            'overflow': 'auto',
            'height': '100%'
        });
        $('#hero-img').css({
            'height': (($(window).height())) + 'px'
        });
        $(document).prop('title', 'States | Race To 2016 Presidential Elections');
    });
});
</script>
